* {
  box-sizing: border-box;
  margin: 0;
}

.first-container {
  background-image: url(/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.main-container {
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.content-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .row:nth-child(2) {
  margin-top: 40px;
} */

.content {
  /* width: 50%; */
  color: #fff;
  font-size: 30px;
  
  /* text-align: center; */
}

.image-container {
  width: 200px;
  height: 200px;
  margin-right: 25px;
}

.image-container img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  box-shadow: 0 0 20px #a0a0a0;
}
.cursor1 {
  display: inline-block;
  width: 8px;
  animation: blink 0.7s step-end infinite;
}

.greeting-text {
  font-size: 30px;
}

.changingtext-container {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
}

.cursor {
  display: inline-block;
  width: 10px;

  font-weight: bold;
  font-size: 35px;
  /* background-color: white; */
  animation: blink-frames 1s infinite;
}

/* @keyframes blink {
  from, to {
    background-color: white;
  }
  50% {
    background-color: white;
    
  }
} */

.title {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.sub-title {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 4px;
}

.social-container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 12px;
}

.social-container a {
  text-decoration: none;
  color: white;
  font-size: 32px;
}

.social-container a:hover {
  color: tan;
}

.blink {
  animation: blink-frames 3s infinite;
  margin-left: 4px;
}

.blink a {
  text-decoration: none;
  color: yellow;
  font-weight: 700;
}

.blink a:hover {
  cursor: pointer;
  color: tan;
}

@keyframes blink-frames {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (max-width: 837px) {
  .linear-bg {
    padding: 20px 10px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .content {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .image-container {
    margin-right: 0;
  }

  /* .title {
    font-size: 28px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
  } */

  .sub-title {
    font-size: 22px;
    justify-content: center;
    margin-top: 20px;
    
  }

  .sub-title a {
    margin-top: 20px;
  }

  .Job-information {
    font-size: 22px;
    justify-content: center;
  }

  .social-container,
  .social-container a {
    font-size: 22px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .row .content{
    width: 100%;
    font-size: 24px;
    margin-top: 20px;
  }

  .basic a {
    padding: 6px 12px;
    font-size: 12px;
    margin-top: 10px;
  }

  .greeting-text{
    font-size: 25px;
  }
  .changingtext-container{
    font-size: 25px;
  }
}


@media (max-width: 608px) {

  .Job-information a {
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    display: block;
  }
  .Job-information {
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    display: block;

}
.greeting-text{
  font-size: 25px;
}
}



@media (max-width: 500px) {
  .Job-information,
  .Job-information a {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    white-space: wrap;
    display: block;
  }

  .content {
    text-align: center;
    white-space: nowrap;
    display: block;

  }
  .sub-title,
  .sub-title a {
    padding: 0 15px;
    display: block;
    white-space: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .Job-information {
    font-size: 13px;
    align-items: center;
    justify-content: center;
    white-space: wrap; /* Ensure job information does not wrap */
  }

  .Job-information a {
    font-size: 15px;
    display: block; /* Make links inline-block for wrapping */
    white-space: normal; /* Allow links to wrap onto the next line */
    text-align: center;
    width: 100%;
    margin-top: 5px;
  }

  .sub-title {
    font-size: 15px;
    text-align: center;
    white-space: nowrap; /* Ensure sub-title does not wrap */
    margin-top: 10px;
  }

  .sub-title a {
    font-size: 17px;
    display: block; /* Make links inline-block for wrapping */
    white-space: normal; /* Allow links to wrap onto the next line */
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  .basic,
  .basic a {
    font-size: 10px;
  }

  .content {
    text-align: center;
    white-space: nowrap;
    display: block;
  }
}

@media (max-width: 440px) {
  .basic,
  .basic a {
    font-size: 9px;
  }
  .sub-title {
    margin-top: 30px;
  }

  .content {
    text-align: center;
    white-space: nowrap;
    display: block;
  }
}

@media (max-width: 404px) {
  .basic,
  .basic a {
    font-size: 9px;
  }

  .changingtext-container {
    font-size: 25px;
  }

  .Job-information {
    font-size: 9px;
    white-space: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 0 10px;
  }

  .Job-information a {
    font-size: 13px;
    white-space: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 0 10px;
  }

  .sub-title {
    margin-top: 40px;
  }
  .content {
    text-align: center;
    white-space: nowrap;
    display: block;
  }
}

.Job-information {
  color: #fff;
  font-size: 25px;
  margin-top: 20px;
}

.Job-information a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.Job-information a:hover {
  cursor: pointer;
  color: tan;
}

.basic {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  font-size: 15px;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  padding: 14px 8px;
}

.basic a {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 6px 24px;
  margin-top: 12px;
}

.basic a:hover {
  color: #1b2631;
  background-color: #fff;
}

.side-pic {
  background-color: #202023;
  width: 50%;
  height: 110%;
  position: relative;
  right: 0px;
}

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.image_section {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  font-style: normal;
}

.text_container {
  width: 50%;
  /* flex-grow: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #202023 !important;
}

.text_test {
  max-width: 800px;
  color: white;
  font-weight: normal;
  font-size: larger;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
}

.myimage {
  width: 50%;
  /* flex: 1 1 50%; */
  min-width: 300px;
  overflow: hidden;
  box-sizing: border-box;
  object-fit: cover;
  /* display: flex;     */
}

.image_class {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.carousel-inner {
  height: 100vh;
  width: 100%;
  /* object-fit: cover; */
}

.carousel-item {
  /* Ensure no padding or margin */
  padding: 0;
  margin: 0;
}

/* Responsive styles */
@media (max-width: 969px) {
  .text_container,
  .myimage {
    flex: 1 1 100%;
    padding: 10px;
  }
}

.footer-container {
  color: white;
  text-decoration: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {
  font-family: "outfit";
  background: linear-gradient(#ffdad5, #fff7f9);
} */

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "outfit";
  background: linear-gradient(#ffdad5, #fff7f9);
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

.contact-left button img {
  height: 15px;
}

.contact-right img {
  width: 500px;
}

@media (max-width: 800px) {
  .contact-inputs {
    width: 80vw;
  }

  .contact-right {
    display: none;
  }
}
